<ion-app>
  <ion-split-pane contentId="main-content" [when]="false">
    <ion-menu contentId="main-content" type="overlay" [swipeGesture]="false" side="end">
      <ion-content>

        <div class="menu-header">
          <ion-icon name="restaurant" class="menu-logo"></ion-icon>
          <ion-buttons>
            <ion-button fill="clear" (click)="fecharMenu()">
              <ion-icon slot="icon-only" name="close-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </div>

        <ion-list lines="none">
          @for (p of menuPages; track p) {
            <ion-menu-toggle auto-hide="false">
              <ion-item routerDirection="root" [routerLink]="[p.url]" routerLinkActive="selected" detail="false">
                <ion-icon slot="start" [name]="p.icon"></ion-icon>
                <ion-label>{{ p.title }}</ion-label>
              </ion-item>
            </ion-menu-toggle>
          }
        </ion-list>

        <div class="menu-footer">
          <!-- Se não está autenticado mostra Login -->
          <ion-button
            *ngIf="!authService.isLoggedIn()"
            expand="block"
            routerLink="/login"
            class="login-btn"
            (click)="fecharMenu()"
          >
            <ion-icon slot="start" name="log-in-outline"></ion-icon>
            Login
          </ion-button>

          <!-- Se está autenticado mostra Logout -->
          <ion-button
            *ngIf="authService.isLoggedIn()"
            expand="block"
            class="login-btn logout-btn"
            (click)="logout()"
          >
            <ion-icon slot="start" name="log-out-outline"></ion-icon>
            Logout
          </ion-button>
        </div>

      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>